.track {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.img {
  border-radius: 8px;
}

.title {
  max-width: 200px;
  margin: 0 20px;
}
.artist {
  color: gray;
}
.delete {
  margin-left: auto;
}
